全工場レイアウト（2024）.xlsx
kaizen_portal.db
departments.csv
IMG_3989.JPG
static/resource
static/logo.png
.vscode
__pycache__
イファン　集積アプリ.xlsx
/static/uploads
kaizen_portal(old).db
/image_upload_test/uploads
migrating_data.py
